<a href="#" class="btn-open-menu"><i class="glyphicon glyphicon-user"></i></a>
<div class="menu">
    <a href="/login">Login</a>
    <a href="/logout">Logout</a>
    <a href="/register">Register</a>
</div>